.main{
    background-image: url(./studentEditBackGround.jpg);
   
    background-size: cover;
}


.edit-form{
    margin-top: 10rem;
    text-align: center;
    height: 40rem;
    width: 25rem;
    border: 3px solid rgb(17, 16, 16);
    align-items: center;
    align-items: center;
    margin: auto;
    margin-top: 15rem;
    color: Blue;
    border-radius: 10px;
    background-color: LightSeaGreen;
    display: block;
    /* background-image: url(./studentEditBackGround.jpg); */

}

.form-title{
    padding-top: 2rem;
}
.input-field{
    width: 15rem;
    display: inline-block;
}

.button:hover{
    background-color: DeepPink;
    
}