.container{
    background-image: url("../../../web-designer-2443766_1280.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 700px;

   background-position: center;
   background-attachment: fixed;
   position: static;

}

.signIgn-form{
    text-align: center;
    height: 300px;
    width: 380px;
    margin: auto;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.4);
    color:  #FF4500;
   
}
.input-group{
    /* width: 15rem;
    height: 2rem; */
    padding-bottom: 1rem;
}

.password-group{
    width: 20rem;
    height: 3rem;
    color: white;
    text-align: center;
    margin-left: 2rem;
    padding-bottom: 1rem;
}